body {
    background: linear-gradient(rgba(185, 32, 2, 0.953), rgba(204, 170, 46, 0.849));
    font-family: Arial, sans-serif;
    text-align: center;
    margin-top: 50px;
    height: 100vh;
  }
  
  .container {
    max-width: 350px;
    height: 400px;
    margin: 0 auto;
    padding: 20px;
    color: rgba(237, 237, 237, 0.873);
    background-color: #ffffff29;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }

  .container:hover{
    box-shadow: 0 0 15px rgba(248, 246, 246, 0.447);
    transition: 1.2s ease-in-out;
  }
  
  h1 {
    margin-top: 0;
  }
  
  input[type="number"] {
    width: 100px;
    padding: 5px;
    font-size: 16px;
  }
  
  button {
    margin-top: 10px;
    padding: 8px 16px;
    font-size: 16px;
    background-color: #4c60af;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #450fd9;
  }
  
  #result-message {
    margin-top: 20px;
    font-weight: bold;
  }